.sidebar-menu-link {
  color: #b98ea7;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
}

.sidebar-menu-link:hover {
  color: #a57982;
}

.profile-img {
  display: block;
  margin: auto;
  margin-top: 5px;
}

.main-name {
  text-align: center;
  margin: 10px;
  color: #f0f2ef;
  font-family: 'Nunito', sans-serif;
}